body { margin: 0 auto;line - height: 1.5e m;padding: 50 px;box - sizing: border - box;color: #000000; overflow: auto;}
body, html { height:100%; overflow:visible; } 

.wrapper {box-sizing: border-box; height: 100%; overflow: auto; }

body{
  height: 100%;
}
body { 
			background-image: url(https://themichaelwarren.github.io/gonohe/images/gonohe.jpg) ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
			background-color: #999;
  
}
div, body{
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  
}
.wrapper {
  height: 100%; 
  width: 100%; 
}
.message {
    position: absolute;
    left: 50%;
    top: 60%;
    width: 100%;
    transform: translate(-50%,-50%);
  display: block;
  background-color: rgba(0,0,0,00);
  color: #fff;
  font-weight: 900;
  font-size: 7vw;
  text-align: center;
}
.six {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  font-size: 80vw;
      color:#313131;
      font-weight: bold;
      position: absolute;
      -webkit-animation:colorchange 20s infinite alternate;
      
      
    }
    @-webkit-keyframes colorchange {
      0% {
        
        color: blue;
      }
      
      10% {
        
        color: #8e44ad;
      }
      
      20% {
        
        color: #1abc9c;
      }
      
      30% {
        
        color: #d35400;
      }
      
      40% {
        
        color: blue;
      }
      
      50% {
        
        color: #34495e;
      }
      
      60% {
        
        color: blue;
      }
      
      70% {
        
        color: #2980b9;
      }
      80% {
     
        color: #f1c40f;
      }
      
      90% {
     
        color: #2980b9;
      }
      
      100% {
        
        color: pink;
      }
    }
}
